<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-Commerce WebSite</a>
    <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/products">Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="auth">Sign Up & Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shopping-list">Shopping Cart</a>
            </li>
        </ul>
    </div>
</nav>