.container{
    margin-top: 100px;
}
.product-name{
    color: black;
    font-weight: bold;

}
.d-block{
    max-width: 40rem;
}
.stars{
    height: 30px;
}
.price{
    color:black;
    font-size: 26px;
    font-weight: bold;
    padding-top: 15px;
}
.tags{
    padding-top: 10px;
}
.sales{
    color: grey;
}
.shoppingCart{
    max-height: 30px;
    margin-left: 10px;
}

.grey-heart{
   margin-right: 220px;
    max-height: 40px;
}
